/*Con esto evitamos inconsistencias en los navegadores */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #1b2441;
    color: #333;
    line-height: 1.6;
    padding: 10px;
}

/*Barra de navegación */

header {
    border-radius: 15px;
    background-color: #15122c;
    padding: 15px 0;
    margin-bottom: 30px;
}

nav ul {
    font-size: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #0011ff;
}

/*Sección Inicio */

.bienvenida {
    background-color: #57575721;
    max-width: 1250px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 5px rgba(255, 255, 255, 0.1);
}

.bienvenida_titulo {
    font-size: 5em;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.bienvenida_texto {
    font-size: 2em;
    text-align: center;
    margin-bottom: 15px;
    color: #2735ff;
}

/*Sección Sobre mí */

.sobremi_titulo {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.sobremi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 10px;
    flex-wrap: wrap;
}

.foto img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #2735ff;
    ;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.descripcion_sobremi {
    flex: 1;
    margin-bottom: 15px;
}

.sobremi_descripcion {
    font-size: 28px;
    margin-bottom: 15px;
    color: #fff;
}

/*Linea responsive "Sobre mí" */

@media (max-width: 768px) {
    .sobremi {
        flex-direction: column;
        text-align: center;
    }

    .foto img {
        margin-bottom: 20px;
    }
}

/*Sección Mis proyectos */

.proyectos {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.proyectos_titulo {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.tarjeta {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 16px;
    max-width: 300px;
    text-align: center;
    transition: transform 0.2s ease;
}

.tarjeta:hover {
    transform: scale(1.02);
}

.tarjeta img {
    width: 100%;
    border-radius: 8px;
}

.tarjeta h3 {
    margin: 12px 0 8px;
}

.tarjeta a {
    color: #fff;
    background-color: #2735ff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}

/*Seccion Contacto*/

.contacto_titulo {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

.contacto {
    max-width: 550px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
    background-color: #727272;
} 

.metodos_contacto {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.metodos_contacto a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.metodos_contacto a:hover {
    color: #2735ff;
}

.metodos_contacto img {
    width: 50px;
    height: 50px;
}